<mat-card class="mat-card">        
    <mat-card-content>  
<form class="example-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput  [(ngModel)]="userObj.firstName" name="firstName" #firstName="ngModel" required >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput  [(ngModel)]="userObj.lastName" name="lastName" #lastName="ngModel" required >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput 
                [(ngModel)]="userObj.email" name="email" placeholder="Ex. pat@example.com">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput  [(ngModel)]="userObj.password" name="password" #password="ngModel" required >
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]="userObj.dob" #dob="ngModel" name="dob" [matDatepicker]="datepicker">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle> 
        <mat-datepicker #datepicker>
        </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Role</mat-label>
        <input matInput  [(ngModel)]="userObj.role" name="role" #role="ngModel" required >
    </mat-form-field>    

    <button mat-raised-button type="submit" color="primary">Sign Up</button>

</form>

</mat-card-content>  
</mat-card>
